<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container">
        <h1>Error al enviar el correo electrónico</h1>
        <p>Ha ocurrido un error al enviar el correo electrónico. Por favor, intenta nuevamente más tarde.</p>
        <a class="btn btn-primary" href="/">Volver al inicio</a>
    </div>

</body>

</html>